---
layout: archive
header-includes: |
    \usepackage{amsmath,mathtools}
---

<script
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript">
</script>

<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
<script src="https://tikzjax.com/v1/tikzjax.js"></script>

{{ content }}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% include posts-tag.html taxonomy=page.taxonomy type=page.entries_layout %}
</div>
